<?xml version="1.0" encoding="utf-8" ?>

<!-- Log Levels 
  Fatal
  Error
  Warn
  Info
  Debug
  Trace
-->

<nlog autoReload="true" throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <targets>
    <target type="File" name="trace" fileName="${logDirectory}/trace.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|controller: ${aspnet-mvc-controller}|action: ${aspnet-mvc-action}|${callsite}" />
    <target type="File" name="sql" fileName="${logDirectory}/sql.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target type="File" name="info" fileName="${logDirectory}/info.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|controller: ${aspnet-mvc-controller}|action: ${aspnet-mvc-action}|${callsite}" />
  </targets>

  <rules>
    <!-- Enable to run a trace  --> 
    <!-- <logger name="*" minlevel="Trace" writeTo="trace" /> -->

    <!-- Record sql statements -->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="sql" />
    
    <!-- Skip non-critical Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />
    
    <!-- Everything else -->
    <logger name="*" minlevel="Info" writeTo="info" />
  </rules>
</nlog>