@model Product

<partial name="_Form" model="Model"/>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-success" form="_Form" asp-action="Create">Save</button>
  </div>
</div>