<form method="get" id="_Form">

  <div class="field">
    <label class="label">Search Term</label>
    <div class="control">
      <input class="input" name="searchTerm" placeholder="Search Term">
    </div>
  </div>
</form>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-success" form="_Form" asp-action="Index">Search</button>
  </div>
</div>